<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebApplication6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings/>
  
    <connectionStrings/>

    <system.web>
        <compilation debug="true" >

        </compilation>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows" />
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    </system.web>

    <applicationSettings>
        <WebApplication6.Properties.Settings>
            <setting name="WebApplication6_localhost_WebService1" serializeAs="String">
                <value>http://localhost:55119/WebService1.asmx</value>
            </setting>
            <setting name="WebApplication6_WSCate_WSCategorias" serializeAs="String">
                <value>http://localhost:50830/WSCategorias.asmx</value>
            </setting>
        </WebApplication6.Properties.Settings>
    </applicationSettings>
</configuration>
